langchain==1.2.3
langchain_chroma==1.1.0
langchain_community==0.4.1
langchain_huggingface==1.2.0
langchain_tavily==0.2.16
langchain_text_splitters==1.1.0
langgraph==1.0.5
python-dotenv==1.2.1
streamlit==1.52.2
